.container {
    margin: 3%;
}

.title {
    text-align: center;
    font-family: cursive;
    text-transform: uppercase;
}
.table {
    table-layout: fixed;
}
.historyOrder-table-row {
    cursor: pointer;
    transition: background-color 0.25s ease;

    &:hover {
        background-color: rgba(0, 0, 0, 0.1);
    }

    &:last-child td,
    &:last-child th {
        border: 0;
    }
}

.historyOrder-table-row-voucher-image {
    aspect-ratio: 7 / 3;
    width: 50%;
    object-fit: cover;
}

.orderDetail-table-product-image {
    aspect-ratio: 5 / 3;
    width: 100%;
    object-fit: cover;
}

.orderDetail-table-productContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.orderDetail-table-productDetails {
    padding: 0 2%;
}