.wrapper {
    min-width: 100px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-weight: 700;
    padding: 10px 16px;
    text-align: center;
    cursor: pointer;
    background-color: #d2d0d0;
    border: 1px solid transparent;
    border-radius: 4px;
    user-select: none;
  }
  
  .icon + .text,
  .text + .icon {
    margin-left: 4px;
  }
  
  // Button types
  
  .rounded {
    border-radius: 20px;
    background-color: transparent;
  }
  
  .primary {
    color: white;
    background-color: var(--blue-500);
    border-color: var(--blue-500);
    &:hover {
      border-color: var(--blue-700);
      background-color: var(--blue-700);
    }
    &.disabled {
      pointer-events: none;
      color: var(--grey-100) !important;
      background-color: var(--grey-500) !important;
      border-color: var(--grey-500) !important;
      opacity: 0.7;
    }
  }
  
  .outline {
    color: var(--blue-500);
    border-color: currentColor;
    background-color: transparent;
    &:hover {
      border-color: currentColor;
      background-color: var(--blue-50);
    }
    &.disabled {
      pointer-events: none;
      color: var(--grey-500) !important;
      opacity: 0.7;
    }
  }